language: cpp
sudo: required
services:
- docker
env:
  matrix:
  - APP=amg
  - APP=candle-benchmarks DEPS="python"
  - APP=examinimd
  - APP=laghos
  - APP=macsio
  - APP=miniamr
  - APP=minife
  - APP=minitri
  - APP=nekbone
  - APP=sw4lite
  - APP=swfft
  - APP=xsbench
  - APP=amg2013
  - APP=aspa
  - APP=branson
  - APP=clamr
  - APP=cloverleaf
  - APP=cloverleaf3d
  - APP=coevp
  - APP=cohmm
  - APP=comd
  - APP=cosp2
  - APP=ebms
  - APP=exampm
  - APP=exasp2
  - APP=hacckernels
  - APP=hpccg
  - APP=hpgmg
  - APP=kripke
  - APP=lcals
  - APP=lulesh
  - APP=miniaero
  - APP=miniamr
  - APP=minighost
  - APP=minimd
  - APP=miniqmc
  - APP=minismac2d
  - APP=minixyce
  - APP=nut
  - APP=openmc
  - APP=pathfinder
  - APP=pennant
  - APP=rsbench
  - APP=simplemoc
  - APP=snap
  - APP=snbone
  - APP=tealeaf
before_install:
- cp -vr docker ${HOME}/docker
- cd ../../
- mv -v ${TRAVIS_REPO_SLUG} $HOME/docker
- cp -r $HOME/.ccache ${HOME}/docker/ccache
- git clone --depth 1 https://github.com/spack/spack ${HOME}/docker/spack
- source ${HOME}/docker/spack/share/spack/setup-env.sh
- if spack info ${APP} | grep -q mantevo.org/downloads; then INSECURE="--insecure";
  fi
- for i in $(spack list -t proxy-app | grep -v ecp-proxy-apps); do echo "Looking for
  $i"; grep -q "APP=$i" ${HOME}/docker/proxy-ci/.travis.yml || exit 1; done
script:
- docker build --build-arg APP="${APP}" --build-arg DEPS="${DEPS}" --build-arg INSECURE="${INSECURE}"
  -t ${TRAVIS_REPO_SLUG}:${APP} ${HOME}/docker/ && rm -rf ${HOME}/.ccache && CON=$(docker
  run -d ${TRAVIS_REPO_SLUG}:${APP} /bin/bash) && docker cp ${CON}:/home/ci/.ccache
  ${HOME}/
after_success:
- shopt -s extglob && [[ ${TRAVIS_BRANCH} = @(master|stable) && ${DOCKERHUB} = true
  ]] && DEPLOY=yes
- if [[ ${DEPLOY} = yes && ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST}
  == false ]]; then docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; docker
  push "${TRAVIS_REPO_SLUG}:${APP}"; fi
cache:
  ccache: true
compiler:
- gcc
notifications:
  email:
    recipients:
      secure: hVpVVqjF5s0TThDx0E5a7fDTEHUlTfv5l0+NHjk1Xj+bA5aV+CgupHXZQaJMq6KEaxnxrnMUm/GqY6BHsAAUOdirPF/l30bez5oHiStBz05EK3HuP/bX997Xc/H6oZnfkAv1HOWIVba9nLTlJIxjkhovzNi7lMh3GGMps+7ApeQ0abWjoerWsfpqlPTljQK2548mfhKs8jP9sT29vbCW9LArzzUtcp1VgScMZC0r/CslLWK9nxEkqvkl6uqU377DXlUO9+XlOktyO+Ut/LcVncwhL2rlshtLi4ExUDFxQiLJd10irZW4ha45WOwgHh1EmyUibTgl84wOiiWSohUZLOp9rQynqdx8lfMMChn9DKXamhSdQz/SBm7kdfyFLBkQxCDP4eaYV/cS5aVfvWji/H6O6tYZvjbL1O3nPY9e/2nNfzAZCiEGCmBHROTe95l/hq8aU7PX1ykuOlN2X/A84tj3W2tAbPSu5fa5ZsBAw/m1JjCwXkkQT3wEqCA7Q7O4LJy8hiZKVLOAQm+ZA18W+oYDSm/NbdRf+QJwtFR3/MQJeE4BvvuhMNvYfb6ErTcXmXbabBe7VA3fYOROzWSHa1lAr30TjvdQUMOuG7ao50acjTovtaHBMkwMAPYX5yMMODJG+oB6PwSo9QIoCHl4FVhMzQGrqJF7XRvJ5Yz8o9k=
