language: cpp

sudo: required

services:
- docker

env:
  matrix:
  - APP=amg DOCKEROS=ubuntu VERBOSE=""
  - APP="candle-benchmarks ^libjpeg ^opengl@3.4.2 ^opencv~gtk" DEPS="python@2.7.15" DOCKEROS=ubuntu VERBOSE=""
  - APP=examinimd DOCKEROS=ubuntu VERBOSE=""
  - APP=laghos DOCKEROS=ubuntu VERBOSE="-v"
  - APP=macsio DOCKEROS=ubuntu VERBOSE=""
  - APP=miniamr DOCKEROS=ubuntu VERBOSE=""
  - APP=minife DOCKEROS=ubuntu VERBOSE=""
  - APP=minitri DOCKEROS=ubuntu VERBOSE=""
  - APP=nekbone DOCKEROS=ubuntu VERBOSE=""
  - APP=sw4lite DOCKEROS=ubuntu VERBOSE=""
  - APP=swfft DOCKEROS=ubuntu VERBOSE=""
  - APP=xsbench DOCKEROS=ubuntu VERBOSE=""
  - APP=amg2013 DOCKEROS=ubuntu VERBOSE=""
  - APP=aspa DOCKEROS=ubuntu VERBOSE=""
  - APP=branson DOCKEROS=ubuntu VERBOSE=""
  - APP=chatterbug DOCKEROS=ubuntu VERBOSE=""
  - APP=clamr DOCKEROS=ubuntu VERBOSE=""
  - APP=cloverleaf DOCKEROS=ubuntu VERBOSE=""
  - APP=cloverleaf3d DOCKEROS=ubuntu VERBOSE=""
  - APP=coevp DOCKEROS=ubuntu VERBOSE=""
  - APP=cohmm DOCKEROS=ubuntu VERBOSE=""
  - APP=comd DOCKEROS=ubuntu VERBOSE=""
  - APP=cosp2 DOCKEROS=ubuntu VERBOSE=""
  - APP=ebms DOCKEROS=ubuntu VERBOSE=""
  - APP=exampm DOCKEROS=ubuntu VERBOSE=""
  - APP=exasp2 DOCKEROS=ubuntu VERBOSE=""
  - APP=hacckernels DOCKEROS=ubuntu VERBOSE=""
  - APP=hpccg DOCKEROS=ubuntu VERBOSE=""
  - APP=hpgmg DOCKEROS=ubuntu VERBOSE=""
  - APP=kripke DOCKEROS=ubuntu VERBOSE=""
  - APP=lcals DOCKEROS=ubuntu VERBOSE=""
  - APP=lulesh DOCKEROS=ubuntu VERBOSE=""
  - APP=miniaero DOCKEROS=ubuntu VERBOSE=""
  - APP=miniamr DOCKEROS=ubuntu VERBOSE=""
  - APP=minighost DOCKEROS=ubuntu VERBOSE=""
  - APP=minimd DOCKEROS=ubuntu VERBOSE=""
  - APP=miniqmc DOCKEROS=ubuntu VERBOSE=""
  - APP=minismac2d DOCKEROS=ubuntu VERBOSE=""
  - APP=minixyce DOCKEROS=ubuntu VERBOSE=""
  - APP=nut DOCKEROS=ubuntu VERBOSE=""
  - APP=pathfinder DOCKEROS=ubuntu VERBOSE=""
  - APP=pennant DOCKEROS=ubuntu VERBOSE=""
  - APP=rsbench DOCKEROS=ubuntu VERBOSE=""
  - APP=simplemoc DOCKEROS=ubuntu VERBOSE=""
  - APP=snap DOCKEROS=ubuntu VERBOSE=""
  - APP=snbone DOCKEROS=ubuntu VERBOSE=""
  - APP=tealeaf DOCKEROS=ubuntu VERBOSE=""
  - APP=amg DOCKEROS=fedora VERBOSE=""
  - APP="candle-benchmarks ^libjpeg ^opengl@3.4.2 ^opencv~gtk" DEPS="python" DOCKEROS=fedora VERBOSE=""
  - APP=examinimd DOCKEROS=fedora VERBOSE=""
  - APP=laghos DOCKEROS=fedora VERBOSE="-v"
  - APP=macsio DOCKEROS=fedora VERBOSE=""
  - APP=miniamr DOCKEROS=fedora VERBOSE=""
  - APP=minife DOCKEROS=fedora VERBOSE=""
  - APP=minitri DOCKEROS=fedora VERBOSE=""
  - APP=nekbone DOCKEROS=fedora VERBOSE=""
  - APP=sw4lite DOCKEROS=fedora VERBOSE=""
  - APP=swfft DOCKEROS=fedora VERBOSE=""
  - APP=xsbench DOCKEROS=fedora VERBOSE=""
  - APP=amg2013 DOCKEROS=fedora VERBOSE=""
  - APP=aspa DOCKEROS=fedora VERBOSE=""
  - APP=branson DOCKEROS=fedora VERBOSE=""
  - APP=chatterbug DOCKEROS=fedora VERBOSE=""
  - APP=clamr DOCKEROS=fedora VERBOSE=""
  - APP=cloverleaf DOCKEROS=fedora VERBOSE=""
  - APP=cloverleaf3d DOCKEROS=fedora VERBOSE=""
  - APP=coevp DOCKEROS=fedora VERBOSE=""
  - APP=cohmm DOCKEROS=fedora VERBOSE=""
  - APP=comd DOCKEROS=fedora VERBOSE=""
  - APP=cosp2 DOCKEROS=fedora VERBOSE=""
  - APP=ebms DOCKEROS=fedora VERBOSE=""
  - APP=exampm DOCKEROS=fedora VERBOSE=""
  - APP=exasp2 DOCKEROS=fedora VERBOSE=""
  - APP=hacckernels DOCKEROS=fedora VERBOSE=""
  - APP=hpccg DOCKEROS=fedora VERBOSE=""
  - APP=hpgmg DOCKEROS=fedora VERBOSE=""
  - APP=kripke DOCKEROS=fedora VERBOSE=""
  - APP=lcals DOCKEROS=fedora VERBOSE=""
  - APP=lulesh DOCKEROS=fedora VERBOSE=""
  - APP=miniaero DOCKEROS=fedora VERBOSE=""
  - APP=miniamr DOCKEROS=fedora VERBOSE=""
  - APP=minighost DOCKEROS=fedora VERBOSE=""
  - APP=minimd DOCKEROS=fedora VERBOSE=""
  - APP=miniqmc DOCKEROS=fedora VERBOSE=""
  - APP=minismac2d DOCKEROS=fedora VERBOSE=""
  - APP=minixyce DOCKEROS=fedora VERBOSE=""
  - APP=nut DOCKEROS=fedora VERBOSE=""
  - APP=pathfinder DOCKEROS=fedora VERBOSE=""
  - APP=pennant DOCKEROS=fedora VERBOSE=""
  - APP=rsbench DOCKEROS=fedora VERBOSE=""
  - APP=simplemoc DOCKEROS=fedora VERBOSE=""
  - APP=snap DOCKEROS=fedora VERBOSE=""
  - APP=snbone DOCKEROS=fedora VERBOSE=""
  - APP=tealeaf DOCKEROS=fedora VERBOSE=""

before_install:
  - cp -vr docker ${HOME}/docker
  - cd ../../
  - mv -v ${TRAVIS_REPO_SLUG} $HOME/docker
  - cp -r $HOME/.ccache ${HOME}/docker/ccache
  - git clone --depth 1 https://github.com/spack/spack ${HOME}/docker/spack
  - source ${HOME}/docker/spack/share/spack/setup-env.sh
  - if spack info ${APP} | grep -q mantevo.org/downloads; then INSECURE="--insecure"; fi
  - for i in $(spack list -t proxy-app | grep -v ecp-proxy-apps); do
      echo "Looking for $i .travis.yml"; grep -q "APP=['\"]*$i" ${HOME}/docker/proxy-ci/.travis.yml || exit 1;
    done

script:
- travis_retry timeout 540 docker pull $(sed -n '1s/from //p' ${HOME}/docker/Dockerfile-${DOCKEROS})
- travis_retry docker build 
    --build-arg APP="${APP}" --build-arg DEPS="${DEPS}" --build-arg INSECURE="${INSECURE}" --build-arg VERBOSE="${VERBOSE}"
    -t ${TRAVIS_REPO_SLUG}:${APP%% *}_${DOCKEROS} ${HOME}/docker/ --file="${HOME}/docker/Dockerfile-${DOCKEROS}" &&
  rm -rf ${HOME}/.ccache &&
  CON=$(docker run -d ${TRAVIS_REPO_SLUG}:${APP%% *}_${DOCKEROS} /bin/bash) &&
  docker cp ${CON}:/home/ci/.ccache ${HOME}/

after_success:
- if [[ ${TRAVIS_BRANCH} = master ]]; then DEPLOY=yes; fi
- if [[ ${DEPLOY} = yes && ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST} == false ]]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push "${TRAVIS_REPO_SLUG}:${APP%% *}_${DOCKEROS}";
  fi

cache:
  ccache: true

compiler:
- gcc

notifications:
  email:
    recipients:
      secure: hVpVVqjF5s0TThDx0E5a7fDTEHUlTfv5l0+NHjk1Xj+bA5aV+CgupHXZQaJMq6KEaxnxrnMUm/GqY6BHsAAUOdirPF/l30bez5oHiStBz05EK3HuP/bX997Xc/H6oZnfkAv1HOWIVba9nLTlJIxjkhovzNi7lMh3GGMps+7ApeQ0abWjoerWsfpqlPTljQK2548mfhKs8jP9sT29vbCW9LArzzUtcp1VgScMZC0r/CslLWK9nxEkqvkl6uqU377DXlUO9+XlOktyO+Ut/LcVncwhL2rlshtLi4ExUDFxQiLJd10irZW4ha45WOwgHh1EmyUibTgl84wOiiWSohUZLOp9rQynqdx8lfMMChn9DKXamhSdQz/SBm7kdfyFLBkQxCDP4eaYV/cS5aVfvWji/H6O6tYZvjbL1O3nPY9e/2nNfzAZCiEGCmBHROTe95l/hq8aU7PX1ykuOlN2X/A84tj3W2tAbPSu5fa5ZsBAw/m1JjCwXkkQT3wEqCA7Q7O4LJy8hiZKVLOAQm+ZA18W+oYDSm/NbdRf+QJwtFR3/MQJeE4BvvuhMNvYfb6ErTcXmXbabBe7VA3fYOROzWSHa1lAr30TjvdQUMOuG7ao50acjTovtaHBMkwMAPYX5yMMODJG+oB6PwSo9QIoCHl4FVhMzQGrqJF7XRvJ5Yz8o9k=
